# Compiled Object files
*.slo
*.lo
*.o
*.obj
*cbp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

#Eclipse Core
.project

# CDT-specific (C/C++ Development Tooling)
.cproject

# Temporary file
*~

#Build files
/build
/cmake-build-debug
#Clion files
/.idea
